@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAF7F2;
  color: #121c2a;
  -webkit-font-smoothing: antialiased;
}

.ambient-card-shadow {
  box-shadow: 0 4px 24px 0 rgba(31, 41, 55, 0.04);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #bdc9c6;
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: #005c55;
}
